psycopg2-binary
Django==5.1
dj-database-url
django-import-export
djangorestframework
dj-database-url
random2
django-allauth
django-admin-honeypot
django-filter
django-debug-toolbar
django-extensions
django-admin-interface
libsass
django-sass-processor
requests
PyJWT
cryptography