<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <title>
            EDGermanFlex
        </title>
        <meta name="description" content="This is the official Site for EDGermanFlex about Elemental Dungeon">
        {% include 'imports/links.html' %}
        <!-- JS -->
        <script src={% static 'js/ddMenu.js' %}></script>
    </head>
    <!--Hardcore starts from here-->
   <body>
   <!-- Top-Banner HTML-->
   {% include 'imports/top-banner.html' %}

   <!-- Post / Some Information in Main Page -->
   <div class="post">
       <label style="font-size: 24px; padding: 10px; color:rgb(23, 140, 148);"><b>About Developers</b></label><br>
       <span class="thx" >Huge thanks goes to
           <li>Resty - for Creating the Site</li>
           <li>Resty - for helping with site and coding cool stuff</li>
           <li>Resty - for Keeping the Site Alive</li>
       </span>
   </div>

   <div class="post">
       <label style="font-size: 24px; padding: 10px; color:rgb(23, 140, 148);"><b>Important</b></label><br>
       <span class="thx">The Original ED is now Dead and not playable anymore.
	   	<li>An unofficial Version, the EDServer2 was made </li>
		<li>It was made by the Person siva1danil#5255 *Discord#tag*</li>
		<li>File is Downloadable in the Discord Server</li>
		<li>Help is also on the Discord Server</li>
		<li>https://discord.gg/KsnJTcQC</li>
		</span>
	   </div>

   <div class="post">
       <label style="font-size: 24px; padding: 10px; color: rgb(23, 140, 148);"><b>General</b></label><br>
       <span>This Site was made for the Community of EDGF (Youtuber Nick)</span>
   </div>
   <!-- Information Ends Here -->
   </body>
</html>